<% content_for :head do %>
<%= javascript_include_tag '/epiceditor/js/epiceditor.min.js' %>
<script>
$(function(){
  var opts = {
    container: 'epiceditor',
    textarea: 'markdown',
    basePath: '/epiceditor',
    theme: {
      preview: '/themes/preview/github.css',
      editor: '/themes/editor/epic-light.css'
    },
    focusOnLoad: true
  }
  var editor = new EpicEditor(opts)
  editor.load(function () {
    $('#markdown').css('display', 'none')
  })
})
</script>
<% end %>
<div class="form-group">
  <%= f.label :title %>
  <%= f.text_field :title, autofocus: true, class: 'form-control' %>
</div>
<div class="form-group">
  <%= f.label :body %>
  <div id="epiceditor">
    <%= f.text_area :body, class: 'form-control', id: 'markdown' %>
  </div>
</div>
<% if current_user.admin? || current_user.premium? %>
<div class="form-group">
  <%= f.label :private %>
  <%= f.check_box :private %>
</div>
<% end %>